.main{
    display: flex-wrap;
    width: 900px;
    height: 300px;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
}

span{
    margin: 20px 20px 20px 20px;
    .margin{
        width: 360px;
        height: 300px;
        background-color: #d69e63;
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .border{
        background-color: #357a38;
        border: 10px solid black;
        display: inline-block;
        width: 260px;
        height: 200px;
        justify-content: center;
        align-items: center;
        margin: 40px;
        
    }

    .content{
        background-color: white;
        display: block;
        font-size: 25px;
        margin: 90px;
        height: 30px;
        overflow: visible;
    }

}

span1{
    margin: 20px 20px 20px 20px;
    .margin{

        width: 360px;
        height: 300px;
        background-color: #d69e63;
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .border{
        background-color: #357a38;
        border: 10px solid black;
        display: inline-block;
        width: 260px;
        height: 200px;
        justify-content: center;
        align-items: center;
        margin: 40px;
        
    }

    .content{
        background-color: white;
        display: block;
        font-size: 25px;
        margin: 90px;
        height: 30px;
        overflow: hidden;
    }

}

span2{
    margin: 20px 20px 20px 20px;
    .margin{

        width: 360px;
        height: 300px;
        background-color: #d69e63;
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .border{
        background-color: #357a38;
        border: 10px solid black;
        display: inline-block;
        width: 260px;
        height: 200px;
        justify-content: center;
        align-items: center;
        margin: 40px;
        
    }

    .content{
        background-color: white;
        display: block;
        font-size: 25px;
        margin: 90px;
        height: 30px;
        overflow: scroll;
    }

}

span3{
    display: inline-block;
    margin: 20px;

    .paddingkey{
        background-color: #357a38;
        font-size: 20px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }

    .marginkey{
        background-color: #d69e63;
        font-size: 20px;
        display: inline;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }

    .borderkey{
        background-color: white;
        border: 5px solid black;
        font-size: 20px;
        display: inline;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }
}